body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Menu */

.logo{
  width: 1024px;
  margin: auto;
}
.logo img {
  width: 300px;
  cursor: pointer;
  margin: 20px 0;
}
#menu-buttons{
  width: 100%;
  background-color: #003366;

}

.menu-buttons {
  width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

.menu-button {
  margin: 12px 0;
}

.menu-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 180px;
  height: 40px;
  background-color: #0055a5;
  display: flex;           /* transforma em flex container */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */ 
  

}

.menu-button a:hover {
  background-color: #0077cc;
}

/* Conteúdo central */
.agradecimentos {
  max-width: 800px;        /* largura máxima do bloco */
  margin: 50px auto;       /* centraliza na página */
  padding: 20px 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}

.agradecimentos h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #0055a5;          /* cor de destaque */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.agradecimentos p {
  margin-bottom: 15px;
  text-align: justify;
}

.agradecimentos strong {
  color: #0077cc;          /* destaca nomes e instituições */
}




/* rodape */
.footer {
  width: 100%;
  background-color: #0055a5; /* azul ocupando 100% */
}

.footer-container {
  width: 1024px;       /* limite central */
  margin: 0 auto;      /* centraliza a div no meio da tela */
  display: flex;
  justify-content: flex-end; /* joga a logo para direita */
  align-items: center;
  height: 200px;        /* mesma altura do rodapé */
}

.footer-logo {
  height: 50px;        /* tamanho da logo */
}
