body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Menu */

.logo{
  width: 1024px;
  margin: auto;
}
.logo img {
  width: 300px;
  cursor: pointer;
  margin: 20px 0;
}
#menu-buttons{
  width: 100%;
  background-color: #003366;

}

.menu-buttons {
  width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

.menu-button {
  margin: 12px 0;
}

.menu-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 180px;
  height: 40px;
  background-color: #0055a5;
  display: flex;           /* transforma em flex container */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */ 
  

}

.menu-button a:hover {
  background-color: #0077cc;
}

/* Conteúdo central */


.content {
  width: 1024px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1 port{
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portfolio-box {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.placeholder-img {
  width: 100%;
  height: 150px;
  background-color: #4caf50; /* placeholder verde */
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.placeholder-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}



/* rodape */
.footer {
  width: 100%;
  background-color: #0055a5; /* azul ocupando 100% */
}

.footer-container {
  width: 1024px;       /* limite central */
  margin: 0 auto;      /* centraliza a div no meio da tela */
  display: flex;
  justify-content: flex-end; /* joga a logo para direita */
  align-items: center;
  height: 200px;        /* mesma altura do rodapé */
}

.footer-logo {
  height: 50px;        /* tamanho da logo */
}
